
RewriteEngine on

RewriteCond %{HTTP_HOST} ^jayson\.denrcomfiling\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.jayson\.denrcomfiling\.org$
RewriteRule ^/?$ "http\:\/\/facebook\.com\/" [R=301,L]

